server
{
   
    server_names       sboof 
    listen             localhost:150
               
    root              www/server0/
    allow_methods     GET POST DELETE 

    
    autoindex on
    upload_path     ./somewhere/
    
    error_page    403     ./errorpages/403/403.html
    redirection    /laloli/ https://www.youtube.com/ 
    index           index.html
    
    client_max_body_size 1500

    cgi .php
    {
        cgi_path www/config/cgi/php-cgi
    }

    cgi .py
    {
        cgi_path www/config/cgi/php-python
    }

    location /PATH00/
    {
        client_max_body_size 12555
        root ./root/hangover-master/
        autoindex on
        allow_methods POST DELETE
        upload_path /somewhere/
        index /PATH00/index01.html
    }
    
    location /pepsi/
    {
        root ./root/EEEEEEEEEEEEEE
        autoindex on 
        client_max_body_size 1234
        allow_methods GET
        index indexpepsi.html indexpepsi2.html
    }
    
}

server
{
    server_names    server3
    listen          192.168.0.1:10
    root             ./www/server3/
    allow_methods   GET POST
    
    upload_path     ./www/server3/somewhere/
    
    redirection    /server3/laloli https://www.youtube.com/
     
    autoindex   on
    client_max_body_size 180
          
    cgi          .py       
    {
        cgi_path www/server4/config/cgi
    }
    
     location ./root/
    {
        root ./www/narjdal3
        autoindex  on
        index   index.html
        allow_methods GET
        upload_path upload/
        client_max_body_size 150
      
    }

}